*{
	margin:  0px;
	overflow: hidden;
}
@font-face{
	src: url('fonts/roboto mono/RobotoMono-Regular.ttf');
	font-family: roboto-reg;
}
@media only screen and (min-width: 640px) {
  	#user-inputs{
  		float: left;
	  	height: 100vh !important;
	  	width: 30vw !important;
	  	padding: 0px !important;
	}
	#rows{
		margin-top: 50vh;
	}
	#display{
		float: right;
		width: 70vw !important;
		height: 100vh !important;
	}
}

#container{
	text-align: center;
}
#user-inputs{
	font-family: roboto-reg;
	position: relative;
	background-color: cadetblue;
	color: antiquewhite;
  	width: 100vw;
  	padding: 25px 0px;
}
#btn{
	background-color: goldenrod;
	padding: 0px 5px;
}
input{
	width: 50px;
}
#display{
	width: 100vw;
	height: 80vh;
	background-color: yellow;
	text-align: center;
}
#canvas{
	margin-top: 10vh;
	background-color: antiquewhite;
}
